/*    Layouts     */

body {
  min-height: 100vh;
  position: relative;
}

// mixins

@mixin truncate-multiline($line: 3) {
  display: -webkit-box;
  -webkit-line-clamp: #{$line};
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-wrapper-delete {
  padding: 20px 20px;
  h6 {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  .modal-footer1 {
    margin-top: 20px;
    display: flex;
    gap: 12px;

    button {
      border-radius: 6px !important;
      padding: 3px 10px !important;
      flex: 1;
    }
  }
}
.btn {
  padding: 7px 15px !important;
}

// gj-datepicker
.gj-datepicker {
  button {
    padding: 0;
  }
  .form-control {
    height: 31px !important;
  }
  .gj-icon {
    position: static !important;
    color: #000;
    font-size: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.rounded-pill {
  border-radius: 30px !important;
}

.table {
  .td-actions {
    a {
      text-decoration: none;
      i {
        font-size: 16px;
        scale: 1.4;
        color: #4379c0;
      }
    }
  }
}

.btn-group {
  .filterbtn {
    border-radius: 20px;
    padding: 1px 12px !important;
    height: 30px;
    &::after {
      display: none !important;
    }
  }
  .dropdown-menu-right {
    width: 350px !important;
    transform: translateX(-120px);
  }
}

.wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;

  .title-header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .page-title {
      margin-bottom: 0;
    }
  }

  &.login {
    .login-wrapper {
      height: 100vh;
      .img-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 450px;
        }
      }
      .login-right-content {
        padding: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  // profile

  &.profile {
    .setting-btn {
      .dropdown-toggle {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
          display: none !important;
        }
      }
    }
  }

  // announcement page
  &.announcement-page {
    .announce {
      .main-announcement-img {
        display: block;
        width: 100%;
        max-height: 500px !important;
        margin: 0 auto;
        object-fit: cover;
      }
      h5 {
        margin-top: 20px;
      }
    }
  }
}

.main-header {
  min-height: 55px;
  width: 100%;
  background: $white-color;
  position: fixed;
  z-index: 1001;
  border-bottom: 1px solid #eee;
  .logo-header {
    float: left;
    width: 260px;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #eee;
    color: $black-color;
    z-index: 1001;
    font-size: 18px;
    font-weight: $font-weight-bold;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1001;
    display: inline-block;
    a.logo {
      color: $body-text-color;
    }
    .navbar-toggler {
      padding-left: 0px;
      padding-right: 0px;
      opacity: 0;
      .navbar-toggler-icon {
        background: url(../img/menu2.png);
        background-size: cover;
        height: 1em;
        width: 1em;
        opacity: 0.8;
      }
    }
    .more {
      background: $transparent-bg;
      border: 0;
      font-size: 26px;
      padding: 0;
      opacity: 0;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: $white-color;
  font-weight: 200;
  background: $white-color;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #eee;
  box-shadow: 6px 1px 20px rgba(69, 65, 78, 0.1);
  .user {
    margin-top: 12.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12.5px;
    border-bottom: 1px solid #eee;
    display: block;
    .photo {
      width: 40px;
      height: 40px;
      overflow: hidden;
      float: left;
      margin-right: 11px;
      z-index: 5;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      a {
        white-space: nowrap;
        display: block;
        position: relative;
        &:hover,
        &:focus {
          text-decoration: none;
        }
        > span {
          font-size: 14px;
          font-weight: $font-weight-bold;
          color: #777;
          letter-spacing: 0.04em;
          display: flex;
          flex-direction: column;
          .user-level {
            color: #555;
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 0.05em;
            margin-top: 5px;
          }
        }
        .link-collapse {
          padding: 7px 0;
        }
      }
      .caret {
        position: absolute;
        top: 17px;
        right: 0px;
        border-top-color: #777;
      }
    }
  }
  .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-top: 55px;
    padding-bottom: 100px;
  }
  .nav {
    display: block;
    float: none;
    margin-top: 20px;
    .nav-item {
      display: list-item;
      &.active {
        a {
          color: $body-text-color;
          font-weight: 700;
          &:before {
            background: $primary-color;
            opacity: 1 !important;
            position: absolute;
            z-index: 1;
            width: 3px;
            height: 100%;
            content: "";
            left: 0;
            top: 0;
          }
        }
        &:hover a:before {
          background: $primary-color;
          opacity: 1 !important;
          position: absolute;
          z-index: 1;
          width: 3px;
          height: 100%;
          content: "";
          left: 0;
          top: 0;
        }
        a i {
          color: $primary-color;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #83848a;
        padding: 13px 25px;
        width: 100%;
        font-size: 14px;
        font-weight: $font-weight-bold;
        position: relative;
        margin-bottom: 5px;
        &:hover,
        &:focus {
          text-decoration: none;
          background: #fbfbfb;
        }
        span {
          display: none;
        }
      }
      &:hover a:before {
        background: #1d7af3;
        opacity: 0.7;
        position: absolute;
        z-index: 1;
        width: 3px;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
      }
      a {
        i {
          font-size: 23px;
          color: #c3c5ca;
          margin-right: 15px;
          width: 25px;
          text-align: center;
          vertical-align: middle;
          float: left;
        }
        p {
          font-size: 14px;
          margin-bottom: 0px;
          letter-spacing: 0.04em;
          margin-right: 5px;
        }
      }
    }
  }
}

.main-panel {
  position: relative;
  width: calc(100% - 260px);
  min-height: 100%;
  float: right;
  background: #f2f3f8;
  .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
    margin-top: 55px;
    .dashboard-cards-wrapper {
      display: flex;
      gap: 12px;
      .card {
        flex: 1;
        padding: 12px;
        display: flex;
        gap: 12px;
        align-items: center;
        flex-direction: row;
        transition: all 0.5s ease;
        &:hover {
          transform: translateY(-3px);
          box-shadow: none;
        }
        .icon-big {
          img {
            width: 40px;
            scale: 1.2;
          }
          i {
            font-size: 40px;
          }
        }
      }
    }
    .dashboard-carousel {
      img {
        border-radius: 5px;
        height: 200px;
        object-fit: cover;
      }
      .card-body {
        h6 {
          margin-top: 8px;
          font-size: 16px;
          color: $primary-color;
        }
        p {
          @include truncate-multiline(4);
        }
      }
      .owl-nav {
        button {
          font-size: 35px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 50px;
          &.owl-next {
            right: 8px;
          }
          &.owl-prev {
            left: 8px;
          }
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50px;
          }
        }
      }
    }
  }
}

// login page

.footer {
  border-top: 1px solid #eee;
  padding: 15px;
  background: $white-color;
  .container-fluid {
    display: flex;
    align-items: center;
  }
}
