//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #575962;
$white-color: #ffffff;
$black-color: #333333;
$transparent-bg: transparent;
$default-color: #607d8b;
// $primary-color: #ffcd00;
$primary-color: #1e439b;
$info-color: #7a7a73;
$success-color: #d25d5d;
$warning-color: #fbad4c;
$danger-color: #ff646d;

$font-weight-light: lighter;
$font-weight-normal: 400;
$font-weight-mediumbold: 500;
$font-weight-bold: 600;
$font-weight-extrabold: 800;
